#parse("/vm/include.vm")
###include("vm/include.vm")
#if(${table.javaPackageName})
	#set($pkgPrefix="${table.javaPackageName}.")
#else
	#set($pkgPrefix="")
#end
<?xml version="1.0" encoding="UTF-8"?>
<CMIS>
	<buildingElement name="${moduleId}" moduleName="${moduleName}">

		<COMPONENT id="${table.javaVariableName}${componentSuffix}" describe="${table.javaClassName} 服务组件" comproperty="">
			${pkgPrefix}${componentPackage}.${table.javaClassName}${componentSuffix}
		</COMPONENT>
		<MODULESERVICE id="${table.javaVariableName}${msiSuffix}" describe="${table.javaClassName} 接口" comproperty="">
			${pkgPrefix}${msiPackage}.${msiImplPackage}.${table.javaClassName}${msiImplSuffix}
		</MODULESERVICE>


	</buildingElement>
</CMIS>
