#parse("/vm/include.vm")
package ${pkgPrefix}${env.entityPackage.replace('/','.')};

import io.polaris.core.jdbc.annotation.Table;
import io.polaris.core.jdbc.annotation.Column;
import io.polaris.core.jdbc.annotation.Id;
import cn.org.atool.fluent.mybatis.annotation.FluentMybatis;
import cn.org.atool.fluent.mybatis.annotation.NotField;
import cn.org.atool.fluent.mybatis.annotation.TableField;
import cn.org.atool.fluent.mybatis.annotation.TableId;
import cn.org.atool.fluent.mybatis.base.RichEntity;
import cn.org.atool.fluent.mybatis.metadata.DbType;

import java.io.Serializable;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.*;
import lombok.experimental.Accessors;
import lombok.experimental.FieldNameConstants;
#foreach($name in $table.columnJavaTypes)
import $name;
#end
#if(${env.entityExtInterface})
	#set($env.entityExtInterfaceArr=${env.entityExtInterface.split(',')})
	#foreach($name in ${env.entityExtInterfaceArr})
import ${name.trim()};
	#end
#end

/**
 * $!{table.name}
 * $!{table.comment}
 * @author $!{env.author}
 * @since ${current.date}
 */
@SuppressWarnings({"rawtypes", "unchecked"})
@Getter
@Setter
@EqualsAndHashCode(callSuper = false)
@ToString
@AllArgsConstructor
@NoArgsConstructor
@Builder
@FluentMybatis(table = "$!{table.name}", dbType = DbType.ORACLE, useDao = false)
@Table(value = "$!{table.name}")
@FieldNameConstants
public class ${table.javaClassName}${env.entityClassSuffix} extends RichEntity implements Serializable#if(${env.entityExtInterface})
	#set($env.entityExtInterfaceArr=${env.entityExtInterface.split(',')})
	#foreach($name in ${env.entityExtInterfaceArr}), ${name.trim().substring(1 + ${name.trim().lastIndexOf(".")})}#end
#end{

	private static final long serialVersionUID = 1L;

#foreach($col in $table.pkColumns)
	/** 主键字段: #if(${col.label})$!{col.name} $!{col.label}#else$!{col.name}#end */
	@Schema(description = "#if(${col.label})$!{col.label}#else$!{col.name}#end")
	@Id
	@Column(value = "$!{col.name}")
	@TableId(value = "$!{col.name}", auto = false, before = true)
	private ${col.javaTypeSimpleName} ${col.javaVariableName};
#end

#foreach($col in $table.normalColumns)
	/** #if(${col.label})$!{col.name} $!{col.label}#else$!{col.name}#end */
	@Schema(description = "#if(${col.label})$!{col.label}#else$!{col.name}#end")
	@TableField("$!{col.name}")
	@Column(value = "$!{col.name}")
	private ${col.javaTypeSimpleName} ${col.javaVariableName};
#end

	/** 查询SQL的ORDER BY子句内容(各排序字段) */
	@Schema(hidden = true)
	@NotField
	@Column(ignored = true)
	private transient String v${dollar}orderBy;
	/** 更新SQL的SET值内容 */
	@Schema(hidden = true)
	@NotField
	@Column(ignored = true)
	private transient ${table.javaClassName}${env.entityClassSuffix} v${dollar}updateValues;

	@Override
	public final Class entityClass() {
		return ${table.javaClassName}${env.entityClassSuffix}.class;
	}

}
