root = true

[*]
#indent_style = space
#indent_size = 4
indent_style = tab
tab_width = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{yml,yaml,json}]
indent_style = space
indent_size = 2

[{*.md,*.markdown,*.mkd}]
indent_style = space
indent_size = 2

[{*.css,*.js}]
indent_style = tab
tab_width = 2

[{*.html,*.htm,*.xml,*.tld,*.jsp,*.jspf,*.tag}]
indent_style = tab
tab_width = 2

[{*.vm,*.ftl,*.sql,*.prc,*.fnc,*.tab,*.vw}]
indent_style = tab
tab_width = 2
