#parse("/vm/include.vm")
###include("vm/include.vm")
#if(${table.javaPackageName})
	#set($pkgPrefix="${table.javaPackageName}.")
#else
	#set($pkgPrefix="")
#end
<?xml version="1.0" encoding="UTF-8"?>
<actionDefines>
	<classMap>
		<map id="action" class="com.yucheng.cmis.ad.mvc.ADRequestController"/>
		<map id="flowInvoker" class="com.yucheng.cmis.ad.mvc.ADFlowInvoker"/>
		<map id="outputViews" class="java.util.HashMap"/>
		<map id="output" class="com.ecc.emp.data.KeyedCollection"/>
		<map id="kColl" class="com.ecc.emp.data.KeyedCollection"/>
		<map id="iColl" class="com.ecc.emp.data.IndexedCollection"/>
		<map id="field" class="com.ecc.emp.data.DataField"/>
	</classMap>

	<!-- $!{table.comment} 列表页面 -->
	<action id="get${table.javaClassName}ListPage" type="normal" checkSession="true" >
		<jspView id="listPage" url="${moduleDir}/${table.javaClassName.toLowerCase()}/list${table.javaClassName}.jsp"/>
	</action>

	<!-- Pop页面 -->
	<action id="get${table.javaClassName}ListPopPage" type="normal" checkSession="true" >
		<jspView id="listPage" url="${moduleDir}/${table.javaClassName.toLowerCase()}/list${table.javaClassName}Pop.jsp"/>
	</action>

	<!-- 新增页面 -->
	<action id="get${table.javaClassName}AddPage" type="normal" checkSession="true" >
		<jspView id="addPage" url="${moduleDir}/${table.javaClassName.toLowerCase()}/add${table.javaClassName}.jsp"/>
	</action>

	<!-- 修改页面 -->
	<action id="get${table.javaClassName}UpdatePage" type="normal" checkSession="true" >
		<jspView id="updatePage" url="${moduleDir}/${table.javaClassName.toLowerCase()}/modify${table.javaClassName}.jsp"/>
	</action>

	<!-- 详情页面 -->
	<action id="get${table.javaClassName}DetailPage" type="normal" checkSession="true" >
		<jspView id="detailPage" url="${moduleDir}/${table.javaClassName.toLowerCase()}/detail${table.javaClassName}.jsp"/>
	</action>

#set($opClass="${pkgPrefix}${opPackage}.${table.javaClassName}${opSuffix}")

	<!-- 表格数据获取，带Footer-->
	<action id="get${table.javaClassName}Data" type="normal" checkSession="true" >
		<flowInvoker>
			<operation class="${opClass}" method="query${table.javaClassName}List"/>
			<transition dest="retPage"/>
		</flowInvoker>
		<outputViews>
			<jsonView class="com.yucheng.cmis.view.JQueryJSONView" id="retPage">
				<output>
					<iColl id="rows">
						<kColl>
						</kColl>
					</iColl>
					<field id="total" />
				</output>
			</jsonView>
		</outputViews>
	</action>

	<!-- 新增记录 -->
	<action id="add${table.javaClassName}Data4kcoll" type="normal" checkSession="true">
		<flowInvoker>
			<operation class="${opClass}" method="add${table.javaClassName}" />
			<transition dest="retPage" />
		</flowInvoker>
		<outputViews>
			<view id="retPage" class="com.yucheng.cmis.view.JSONView">
				<output class="com.ecc.emp.data.KeyedCollection">
					<field id="flag" class="com.ecc.emp.data.DataField"/>
					<field id="index_no" class="com.ecc.emp.data.DataField"/>
#foreach($col in $!{table.pkColumns})
					<field id="$!{col.name.toLowerCase()}" class="com.ecc.emp.data.DataField"/>
#end
				</output>
			</view>
		</outputViews>
	</action>

	<!-- 删除记录 -->
	<action id="delete${table.javaClassName}Data" type="normal" checkSession="true" >
		<flowInvoker>
			<operation class="${opClass}" method="remove${table.javaClassName}"/>
			<transition dest="retPage"/>
		</flowInvoker>
		<outputViews>
			<view id="retPage" class="com.yucheng.cmis.view.JSONView">
				<output class="com.ecc.emp.data.KeyedCollection">
					<field id="flag" class="com.ecc.emp.data.DataField"/>
				</output>
			</view>
		</outputViews>
	</action>

	<!-- 更新记录兼容emp -->
	<action id="update${table.javaClassName}Data4kcoll" type="normal" checkSession="true" >
		<flowInvoker>
			<operation class="${opClass}" method="update${table.javaClassName}"/>
			<transition dest="retPage"/>
		</flowInvoker>
		<outputViews>
			<view id="retPage" class="com.yucheng.cmis.view.JSONView">
				<output class="com.ecc.emp.data.KeyedCollection">
					<field id="flag" class="com.ecc.emp.data.DataField"/>
				</output>
			</view>
		</outputViews>
	</action>

	<!-- 获得明细信息 -->
	<action id="get${table.javaClassName}UpdateData" type="normal" checkSession="true" >
		<flowInvoker>
			<operation class="${opClass}" method="query${table.javaClassName}Detail"/>
			<transition dest="retPage"/>
		</flowInvoker>
		<outputViews>
			<jsonView id="retPage" class="com.yucheng.cmis.view.JQueryJSONView">
				<output>
					<kColl id="${table.javaClassName}"></kColl>
				</output>
			</jsonView>
		</outputViews>
	</action>

	<!-- 导出excel -->
	<action id="export${table.javaClassName}ExcelData" type="normal" checkSession="true" >
		<flowInvoker>
			<operation class="${opClass}" method="query${table.javaClassName}List"/>
			<transition dest="retPage"/>
		</flowInvoker>
		<outputViews>
			<view id="retPage" class="com.yucheng.cmis.view.ExcelView">
 				<excelWorkbook fileName="${table.javaClassName}List.xls" class="com.yucheng.cmis.view.excel.ExcelWorkbook">
 					<excelSheet id="1" name="${table.javaClassName}" isTitle="true" iCollName="rows" class="com.yucheng.cmis.view.excel.ExcelSheet">
#foreach($col in $!{table.columns})
 						<excelColumn dataName="$!{col.name.toLowerCase()}" name="$!{col.comment}" dictName=""  class="com.yucheng.cmis.view.excel.ExcelColumn"/>
#end
 					</excelSheet>
 				</excelWorkbook>
 			</view>
		</outputViews>
	</action>

</actionDefines>
