#parse("/vm/include.vm")
<%@page language="java" contentType="text/html; charset=UTF-8"%>
<%@taglib uri="/WEB-INF/emp-jquery.tld" prefix="emp"%>
<emp:page>
	<html>
<head>
<jsp:include page="/EUIInclude.jsp" flush="true" />
<style type="text/css"></style>
</head>
<body onload="">
	<emp:tabs id="tabsId" plain="false" fit="true" height="300" tabPosition="top">
		<emp:tab title="$!{table.comment}" id="$!{table.javaClassName}">
			<form id="updateDetailForm" method="post">
				<emp:panel id="p1" title="">
					<emp:FormLayout id="detailDataForm" maxColumn="2" hiddenBorder="true">
#foreach($col in $!{table.columns})
	#if(${col.javaClassType} == 'java.math.BigDecimal')
						<emp:number id="$!{table.javaClassName}-$!{col.name.toLowerCase()}" label="$!{col.comment}" required="${!col.nullable}" precision="2" dataType="Double"/>
	#else
						<emp:text id="$!{table.javaClassName}-$!{col.name.toLowerCase()}" label="$!{col.comment}" maxLength="$!{col.columnSize}" required="${!col.nullable}"/>
	#end
#end
					</emp:FormLayout>
				</emp:panel>
			</form>
			<div id="dlg-buttons" align="center">
				<emp:button text="保存" id="save" iconCls="icon-ok"></emp:button>
				<emp:button text="返回" id="close" iconCls="icon-cancel"></emp:button>
			</div>
		</emp:tab>
	</emp:tabs>
	<script type="text/javascript">
		//多次使用请将jQuery对象缓存进变量，避免执行多次选择
		var updateDetailForm = ${dollar}('#updateDetailForm');

		//初始化
		${dollar}(function() {
			var op = '${dollar}{param.op}';
			if(op == 'view'){
				${dollar}('#save').hide();
				${dollar}("input[id^='$!{table.javaClassName}']").renderReadonly(true);
				${dollar}("textarea[id^='$!{table.javaClassName}']").renderReadonly(true);
			}
			var loadurl = "<emp:url action='get$!{table.javaClassName}UpdateData.do'/>?"
				+ '$!{table.javaClassName}.index_no=' + '${param.index_no}';
#foreach($col in $!{table.pkColumns})
				+ '&$!{table.javaClassName}.$!{col.name.toLowerCase()}=' + '${dollar}{param.$!{col.name.toLowerCase()}}' #if(!$foreach.hasNext);#end
#end
			loadurl = EMPTools.encodeURI(loadurl);
			updateDetailForm.form('iload', loadurl); // load from URL
		});

		//保存
		function doSave() {
			var result = ${dollar}('#detailDataForm').checkAll();
			if (!result){
				return false;
			} else {
				${dollar}('#detailDataForm').toForm('updateDetailForm');
				updateDetailForm.form('submit', {
					url : "<emp:url action='update$!{table.javaClassName}Data4kcoll.do'/>",
					success : function(data) {
						try {
							var jsonstr = eval("(" + data + ")");
						} catch (e) {
							${dollar}.messager.alert('错误', data, 'error');
							return;
						}
						var flag = jsonstr.flag;
						var message = jsonstr.message;
						if (flag == "success") {
							${dollar}.messager.alert('提示', "保存成功", 'info');
							window.parent.doSearch();
						} else {
							${dollar}.messager.alert('错误', "保存失败", 'error');
						}
					}
				});
			}

		}

		//关闭
		function doClose() {
			window.parent.EMP.closewin();
		}

	</script>
</body>
	</html>
</emp:page>
