#parse("/vm/include.vm")
package ${pkgPrefix}${env.mapperPackage.replace('/','.')};

import java.util.List;
import java.util.Map;

import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.session.RowBounds;
import org.springframework.stereotype.Repository;

import ${pkgPrefix}${env.entityPackage.replace('/','.')}.${table.javaClassName}${env.entityClassSuffix};;

/**
 * ${table.name}
 * $!{table.comment}
 * @author $!{env.author}
 * @since ${current.date}
 */
@Mapper
public interface ${table.javaClassName}${env.mapperClassSuffix}{

	/**
	 * 查询总数
	 *
	 * @param param 查询条件对象
	 * @return 总数
	 */
	int getCount(${table.javaClassName}${env.entityClassSuffix} param);
	/**
	 * 查询总数
	 *
	 * @param param 查询条件对象
	 * @return 总数
	 */
	int getCount(Map<String,Object> param);

	/**
	 * 查询所有数据,返回{@link List}对象列表
	 *
	 * @param param 查询条件对象
	 * @return 结果对象列表
	 */
	List<${table.javaClassName}${env.entityClassSuffix}> getAll(${table.javaClassName}${env.entityClassSuffix} param);
	/**
	 * 查询所有数据,返回{@link List}对象列表
	 *
	 * @param param 查询条件对象
	 * @return 结果对象列表
	 */
	List<${table.javaClassName}${env.entityClassSuffix}> getAll(Map<String,Object> param);

	/**
	 * 分页查询所有数据,返回{@link List}对象列表
	 *
	 * @param param 查询条件对象
	 * @param rowBounds 分页条件
	 * @return 结果对象列表
	 */
	List<${table.javaClassName}${env.entityClassSuffix}> getAll(${table.javaClassName}${env.entityClassSuffix} param, RowBounds rowBounds);

	/**
	 * 分页查询所有数据,返回{@link List}对象列表
	 *
	 * @param param 查询条件对象
	 * @param rowBounds 分页条件
	 * @return 结果对象列表
	 */
	List<${table.javaClassName}${env.entityClassSuffix}> getAll(Map<String,Object> param, RowBounds rowBounds);

	/**
	 * 根据条件查询唯一结果
	 *
	 * @param param 查询条件对象
	 * @return 结果对象
	 */
	${table.javaClassName}${env.entityClassSuffix} getUnique(${table.javaClassName}${env.entityClassSuffix} param);
	/**
	 * 根据条件查询唯一结果
	 *
	 * @param param 查询条件对象
	 * @return 结果对象
	 */
	${table.javaClassName}${env.entityClassSuffix} getUnique(Map<String,Object> param);

	/**
	 * 根据主键列查询对象
	 *
	 * @param param 查询条件对象
	 * @return 结果对象
	 */
	${table.javaClassName}${env.entityClassSuffix} getById(${table.javaClassName}${env.entityClassSuffix} param);
	/**
	 * 根据主键列查询对象
	 *
	 * @param param 查询条件对象
	 * @return 结果对象
	 */
	${table.javaClassName}${env.entityClassSuffix} getById(Map<String,Object> param);

	/**
	 * 新增记录
	 *
	 * @param entity 记录对象
	 * @return 影响记录数
	 */
	int insert(${table.javaClassName}${env.entityClassSuffix} entity);
	/**
	 * 新增记录
	 *
	 * @param entity 记录对象
	 * @return 影响记录数
	 */
	int insert(Map<String,Object> entity);

	/**
	 * 新增记录,只处理入参的非空字段对应的列
	 *
	 * @param entity 记录对象
	 * @return 影响记录数
	 */
	int insertSelective(${table.javaClassName}${env.entityClassSuffix} entity);
	/**
	 * 新增记录,只处理入参的非空字段对应的列
	 *
	 * @param entity 记录对象
	 * @return 影响记录数
	 */
	int insertSelective(Map<String,Object> entity);

	/**
	 * 按主键条件修改记录,按入参修改所有列
	 *
	 * @param entity 记录对象
	 * @return 影响记录数
	 */
	int update(${table.javaClassName}${env.entityClassSuffix} entity);
	/**
	 * 按主键条件修改记录,按入参修改所有列
	 *
	 * @param entity 记录对象
	 * @return 影响记录数
	 */
	int update(Map<String,Object> entity);

	/**
	 * 按主键条件修改记录,只修改入参的非空字段对应的列
	 *
	 * @param entity 记录对象
	 * @return 影响记录数
	 */
	int updateSelective(${table.javaClassName}${env.entityClassSuffix} entity);

	/**
	 * 按主键条件修改记录,只修改入参的非空字段对应的列
	 *
	 * @param entity 记录对象
	 * @return 影响记录数
	 */
	int updateSelective(Map<String,Object> entity);

	/**
	 * 根据查询条件修改多行记录, 只修改值参数<code>${dollar}updateValues</code>中的非空字段对应的列
	 *
	 * @param entity 记录对象
	 * @return 影响记录数
	 */
	int updateMultiple(${table.javaClassName}${env.entityClassSuffix} entity);

	/**
	 * 根据查询条件修改多行记录, 只修改值参数<code>${dollar}updateValues</code>中的非空字段对应的列
	 *
	 * @param entity 记录对象
	 * @return 影响记录数
	 */
	int updateMultiple(Map<String,Object> entity);

	/**
	 * 删除记录
	 *
	 * @param entity 记录对象
	 * @return 影响记录数
	 */
	int delete(${table.javaClassName}${env.entityClassSuffix} entity);

}

