#parse("/vm/include.vm")
package ${pkgPrefix}${env.entityPackage.replace('/','.')};

import java.io.Serializable;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.*;
import lombok.experimental.Accessors;
#foreach($name in $table.columnJavaTypes)
import $name;
#end
#if(${env.entityExtInterface})
	#set($env.entityExtInterfaceArr=${env.entityExtInterface.split(',')})
	#foreach($name in ${env.entityExtInterfaceArr})
import ${name.trim()};
	#end
#end
/**
 * $!{table.name}
 * $!{table.comment}
 * @author $!{env.author}
 * @since ${current.date}
 */
@Getter
@Setter
@EqualsAndHashCode
@ToString
public class ${table.javaClassName}${env.entityClassSuffix} implements Serializable#if(${env.entityExtInterface})
	#set($env.entityExtInterfaceArr=${env.entityExtInterface.split(',')})
	#foreach($name in ${env.entityExtInterfaceArr}), ${name.trim().substring(1 + ${name.trim().lastIndexOf(".")})}#end
#end{

	private static final long serialVersionUID = 1L;

#foreach($col in $table.pkColumns)
	/** 主键字段: #if(${col.label})$!{col.name} $!{col.label}#else$!{col.name}#end */
	@Schema(description = "#if(${col.label})$!{col.label}#else$!{col.name}#end")
	private ${col.javaTypeSimpleName} ${col.javaVariableName};
#end

#foreach($col in $table.normalColumns)
	/** #if(${col.label})$!{col.name} $!{col.label}#else$!{col.name}#end */
	@Schema(description = "#if(${col.label})$!{col.label}#else$!{col.name}#end")
	private ${col.javaTypeSimpleName} ${col.javaVariableName};
#end

	/** 查询SQL的ORDER BY子句内容(各排序字段) */
	@Schema(hidden = true)
	@Getter
	@Setter
	private transient String v${dollar}orderBy;
	/** 更新SQL的SET值内容 */
	@Schema(hidden = true)
	@Getter
	@Setter
	private transient ${table.javaClassName}${env.entityClassSuffix} v${dollar}updateValues;

}
