#parse("/vm/include.vm")
package ${pkgPrefix}${env.entityPackage.replace('/','.')};

import java.io.Serializable;
import com.mybatisflex.annotation.*;
import lombok.*;
import lombok.experimental.Accessors;
#foreach($name in $table.columnJavaTypes)
import $name;
#end

/**
 * $!{table.name}
 * $!{table.comment}
 * @author $!{env.author}
 * @since ${current.date}
 */
@SuppressWarnings({"rawtypes", "unchecked"})
@Data
@EqualsAndHashCode(callSuper = false)
@NoArgsConstructor
@Table(value = "$!{table.name}")
public class ${table.javaClassName}Entity implements Serializable{

	private static final long serialVersionUID = 1L;

#foreach($col in $table.pkColumns)
	/** 主键字段: #if(${col.comment})$!{col.comment}#else$!{col.name}#end */
	@Id
	@Column(value = "$!{col.name}")
	private ${col.javaTypeSimpleName} ${col.javaVariableName};
#end

#foreach($col in $table.normalColumns)
	/** #if(${col.comment})$!{col.comment}#else$!{col.name}#end */
	@Column(value = "$!{col.name}")
	private ${col.javaTypeSimpleName} ${col.javaVariableName};
#end


}
