config.stopBubbling=true
lombok.toString.doNotUseGetters=true
lombok.toString.callSuper=CALL
lombok.equalsAndHashCode.callSuper=CALL
lombok.equalsAndHashCode.doNotUseGetters=true
lombok.accessors.capitalization=BEANSPEC
lombok.nonNull.exceptionType=IllegalArgumentException
lombok.val.flagUsage=WARNING
lombok.var.flagUsage=WARNING
