#parse("/vm/include.vm")
package ${pkgPrefixFacade}${env.modelPackage.replace('/','.')};

import java.io.Serializable;
import lombok.*;
import lombok.experimental.Accessors;
#foreach($name in $table.columnJavaTypes)
import $name;
#end
import ${pkgPrefix}${env.entityPackage.replace('/','.')}.${table.javaClassName}${env.entityClassSuffix};

import com.jcfc.bf.core.context.domain.ExchangeDto;
import com.jcfc.bf.core.data.consts.Dml;
import io.swagger.v3.oas.annotations.media.Schema;
import javax.validation.Valid;
import javax.validation.constraints.*;
import io.polaris.validation.group.*;

/**
 * $!{table.name}
 * $!{table.comment}
 * @author $!{env.author}
## * @since ${current.date}
 */
@Data
public class ${table.javaClassName}${env.rpcDmlInputClassSuffix} extends ExchangeDto{

	@Schema(description = "操作类型")
	@NotNull(message = "操作类型不能为空")
	private Dml type;
	@Valid
	private ${table.javaClassName}${env.entityClassSuffix} entity;

}
