#parse("/vm/include.vm")
package ${pkgPrefixTunnel}${env.rpcPackage.replace('/','.')};

import java.util.*;

import io.polaris.framework.core.consts.Bool;
import io.polaris.framework.core.context.domain.ExchangeDto;
import io.polaris.framework.core.rpc.annotation.RpcClient;

import ${pkgPrefix}${env.entityPackage.replace('/','.')}.${table.javaClassName}${env.entityClassSuffix};
import ${pkgPrefix}${env.servicePackage.replace('/','.')}.${table.javaClassName}${env.serviceClassSuffix};
import ${pkgPrefixFacade}${env.modelPackage.replace('/','.')}.${table.javaClassName}${env.rpcDmlInputClassSuffix};
import ${pkgPrefixFacade}${env.modelPackage.replace('/','.')}.${table.javaClassName}${env.rpcGetInputClassSuffix};
import ${pkgPrefixFacade}${env.modelPackage.replace('/','.')}.${table.javaClassName}${env.rpcListInputClassSuffix};
import ${pkgPrefixFacade}${env.modelPackage.replace('/','.')}.${table.javaClassName}${env.rpcGetOutputClassSuffix};
import ${pkgPrefixFacade}${env.modelPackage.replace('/','.')}.${table.javaClassName}${env.rpcListOutputClassSuffix};

/**
 * $!{table.name}
 * $!{table.comment}
 * @author $!{env.author}
## * @since ${current.date}
 */
@RpcClient
public interface ${table.javaClassName}${env.rpcInlineClientClassSuffix} {

	@RpcClient(code = "$!{env.rpcCodePrefix}${table.javaClassName}Dml", name = "$!{table.label}数据操作")
	ExchangeDto do$!{env.rpcCodePrefix}${table.javaClassName}Dml(${table.javaClassName}${env.rpcDmlInputClassSuffix} input);


	@RpcClient(code = "$!{env.rpcCodePrefix}${table.javaClassName}Get", name = "$!{table.label}单行数据查询")
	${table.javaClassName}${env.rpcGetOutputClassSuffix} do$!{env.rpcCodePrefix}${table.javaClassName}Get(${table.javaClassName}${env.rpcGetInputClassSuffix} input);


	@RpcClient(code = "$!{env.rpcCodePrefix}${table.javaClassName}List", name = "$!{table.label}列表数据查询")
	${table.javaClassName}${env.rpcListOutputClassSuffix} do$!{env.rpcCodePrefix}${table.javaClassName}List(${table.javaClassName}${env.rpcListInputClassSuffix} input);


	@RpcClient(code = "$!{env.rpcCodePrefix}${table.javaClassName}ExportCsv", name = "$!{table.label}列表数据查询导出Csv")
	ExchangeDto do$!{env.rpcCodePrefix}${table.javaClassName}ExportCsv(${table.javaClassName}${env.rpcListInputClassSuffix} input);


	@RpcClient(code = "$!{env.rpcCodePrefix}${table.javaClassName}ExportExcel", name = "$!{table.label}列表数据查询导出Excel")
	ExchangeDto do$!{env.rpcCodePrefix}${table.javaClassName}ExportExcel(${table.javaClassName}${env.rpcListInputClassSuffix} input);

}

