#parse("/vm/include.vm")
package ${pkgPrefixTunnel}${env.rpcPackage.replace('/','.')};

import java.util.*;

import io.polaris.framework.core.consts.Bool;
import io.polaris.framework.core.context.domain.ExchangeDto;
import io.polaris.framework.core.context.domain.support.FileExchangeDto;
import io.polaris.framework.core.data.consts.Dml;
import io.polaris.framework.core.data.domain.Page;
import io.polaris.framework.core.data.domain.QueryDto;
import io.polaris.framework.core.fs.domain.FileDto;
import io.polaris.framework.core.rpc.annotation.RpcClient;

import ${pkgPrefixTunnel}${env.modelPackage.replace('/','.')}.${table.javaClassName}${env.entityDtoClassSuffix};
import ${pkgPrefixTunnel}${env.modelPackage.replace('/','.')}.${table.javaClassName}${env.rpcClientDmlInputClassSuffix};
import ${pkgPrefixTunnel}${env.modelPackage.replace('/','.')}.${table.javaClassName}${env.rpcClientGetInputClassSuffix};
import ${pkgPrefixTunnel}${env.modelPackage.replace('/','.')}.${table.javaClassName}${env.rpcClientListInputClassSuffix};
import ${pkgPrefixTunnel}${env.modelPackage.replace('/','.')}.${table.javaClassName}${env.rpcClientGetOutputClassSuffix};
import ${pkgPrefixTunnel}${env.modelPackage.replace('/','.')}.${table.javaClassName}${env.rpcClientListOutputClassSuffix};

/**
 * $!{table.name}
 * $!{table.comment}
 * @author $!{env.author}
## * @since ${current.date}
 */
@RpcClient
public interface ${table.javaClassName}${env.rpcClientClassSuffix} {

	/** "$!{table.label}数据操作" */
	public static final String $!{env.rpcCodePrefix}${table.javaClassName}Get = "$!{env.rpcCodePrefix}${table.javaClassName}Get";
	/** "$!{table.label}行数据查询" */
	public static final String $!{env.rpcCodePrefix}${table.javaClassName}Dml = "$!{env.rpcCodePrefix}${table.javaClassName}Dml";
	/** "$!{table.label}表数据查询" */
	public static final String $!{env.rpcCodePrefix}${table.javaClassName}List = "$!{env.rpcCodePrefix}${table.javaClassName}List";
#if(${env.rpcExportable} == "true")
	/** "$!{table.label}列表数据查询导出Csv" */
	public static final String $!{env.rpcCodePrefix}${table.javaClassName}ExportCsv = "$!{env.rpcCodePrefix}${table.javaClassName}ExportCsv";
	/** "$!{table.label}列表数据查询导出Excel" */
	public static final String $!{env.rpcCodePrefix}${table.javaClassName}ExportExcel = "$!{env.rpcCodePrefix}${table.javaClassName}ExportExcel";
#end

	@RpcClient(code = $!{env.rpcCodePrefix}${table.javaClassName}Dml, name = "$!{table.label}数据操作")
	ExchangeDto do$!{env.rpcCodePrefix}${table.javaClassName}Dml(${table.javaClassName}${env.rpcClientDmlInputClassSuffix} input);


	@RpcClient(code = $!{env.rpcCodePrefix}${table.javaClassName}Get, name = "$!{table.label}单行数据查询")
	${table.javaClassName}${env.rpcClientGetOutputClassSuffix} do$!{env.rpcCodePrefix}${table.javaClassName}Get(${table.javaClassName}${env.rpcClientGetInputClassSuffix} input);


	@RpcClient(code = $!{env.rpcCodePrefix}${table.javaClassName}List, name = "$!{table.label}列表数据查询")
	${table.javaClassName}${env.rpcClientListOutputClassSuffix} do$!{env.rpcCodePrefix}${table.javaClassName}List(${table.javaClassName}${env.rpcClientListInputClassSuffix} input);


#if(${env.rpcExportable} == "true")
	@RpcClient(code = $!{env.rpcCodePrefix}${table.javaClassName}ExportCsv, name = "$!{table.label}列表数据查询导出Csv")
	FileExchangeDto do$!{env.rpcClientCodePrefix}${table.javaClassName}ExportCsv(${table.javaClassName}${env.rpcClientListInputClassSuffix} input);


	@RpcClient(code = $!{env.rpcCodePrefix}${table.javaClassName}ExportExcel, name = "$!{table.label}列表数据查询导出Excel")
	FileExchangeDto do$!{env.rpcCodePrefix}${table.javaClassName}ExportExcel(${table.javaClassName}${env.rpcClientListInputClassSuffix} input);
#end

}

