#set($dollar='$')
#set($empty='')
#set($tab='	')
#set($lf='
')
## date/time
#set($now=$!{class.inspect('java.util.Date').getType().newInstance()})
#set($javaUtilLocaleClass=$!{class.inspect('java.util.Locale').getType()})
#set($dateLocal=$!{javaUtilLocaleClass.getField('ENGLISH').get(${NULL})})
#set($dateFormatClass=$!{class.inspect('java.text.SimpleDateFormat').getType()})
#set($dateFormatConstructor=$!{dateFormatClass.getConstructor(${class.inspect('java.lang.String').getType()},$javaUtilLocaleClass)})
#set($dateFormat=${dateFormatConstructor.newInstance('MMM dd, yyyy',$dateLocal)})
#set($yearFormat=${dateFormatConstructor.newInstance('yyyy',$dateLocal)})
#set($timeFormat=${dateFormatConstructor.newInstance('HH:mm:ss',$dateLocal)})
#set($current={
	'year':$yearFormat.format($now),
	'date':$dateFormat.format($now),
	'time':$timeFormat.format($now)
})
## base package
#if(${table.javaPackageName})
	#set($pkgPrefix="${table.javaPackageName}.")
#else
	#set($pkgPrefix='')
#end
## default
#if(not ${env.author})
	#set($env.author="Qt")
#end
#if(not ${env.srcDir})
	#set($env.srcDir="src/main/java")
#end
#if(not ${env.resourceDir})
	#set($env.resourceDir="src/main/resources")
#end
#if(not ${env.webDir})
	#set($env.webDir="src/main/resources/META-INF/resources")
#end
#if(not ${env.entityPackage})
	#set($env.entityPackage="entity")
#end
#if(not ${env.mapperPackage})
	#set($env.mapperPackage="mapper")
#end
#if(not ${env.servicePackage})
	#set($env.servicePackage="service")
#end
#if(not ${env.implPackage})
	#set($env.implPackage="impl")
#end
#if(not ${env.controllerPackage})
	#set($env.controllerPackage="controller")
#end
## author
#macro(javaAuthor)
/**
* $!{table.name} $!{table.comment}
* @author $!{env.author}
* @since ${current.date}
*/
#end
#macro(javaImports)
import lombok.*;
import java.math.*;
#end
