#set($list = [1,2,3,4,5])
a = $a

#foreach($e in $list)
	$e  $foreach.count  $foreach.hasNext $list.size()
#end

##
#[[

This has invalid syntax that would normally need
"poor man's escaping" like:

- #define()
- ${blah

]]#

#macro( test $a,$b)
	$a --- $b
	bodyContent = $!bodyContent
#end

#@test($a, $null)
test
#end
