#parse("/vm/include.vm")
<%@page language="java" contentType="text/html; charset=UTF-8"%>
<%@taglib uri="/WEB-INF/emp-jquery.tld" prefix="emp"%>
<emp:page>
<html>
<head>
	<jsp:include page="/EUIInclude.jsp" flush="true"/>
	<style type="text/css"></style>
</head>
<body>

<form id="addDetailForm" method="post">
	<emp:panel id="p1" title="$!{table.comment}">
		<emp:FormLayout id="detailForm" maxColumn="2" hiddenBorder="true">

#foreach($col in $!{table.normalColumns})
#if(${col.javaClassType} == 'java.math.BigDecimal')
			<emp:number id="$!{table.javaClassName}-$!{col.name.toLowerCase()}" label="$!{col.comment}" required="${!col.nullable}" precision="2" dataType="Double"/>
#else
			<emp:text id="$!{table.javaClassName}-$!{col.name.toLowerCase()}" label="$!{col.comment}" maxLength="$!{col.columnSize}" required="${!col.nullable}"/>
#end
#end

#foreach($col in $!{table.pkColumns})
			<emp:text id="$!{table.javaClassName}-$!{col.name.toLowerCase()}" label="$!{col.comment}" maxLength="$!{col.columnSize}" hidden="true"/>
#end
		</emp:FormLayout>
	</emp:panel>
</form>

<div id="dlg-buttons" align="center">
	<emp:button text="保存" id="save" iconCls="icon-ok"></emp:button>
	<emp:button text="返回" id="close" iconCls="icon-cancel"></emp:button>
</div>

<script type="text/javascript">
	//多次使用请将jQuery对象缓存进变量，避免执行多次选择
	var addDetailForm = ${dollar}('#addDetailForm');

	//保存
	function doSave() {
		var result = ${dollar}('#detailForm').checkAll();
		if (!result)
			return false;
		else {
			${dollar}('#detailForm').toForm('addDetailForm');
			addDetailForm.form('submit', {
				url: "<emp:url action='add${table.javaClassName}Data4kcoll.do'/>",
				success: function (data) {
					try {
						var jsonstr = eval("(" + data + ")");
					} catch (e) {
						${dollar}.messager.alert('错误', data, 'error');
						return;
					}
					var flag = jsonstr.flag;

#foreach($col in $!{table.pkColumns})
					var index_no = jsonstr.$!{col.name.toLowerCase()};
#end
					var index_no = jsonstr.index_no;
					var message = jsonstr.message;
					if (flag == "success") {
						${dollar}.messager.alert('提示', "保存成功", 'info');
						window.parent.doSearch();
						var url = "<emp:url action='get${table.javaClassName}UpdatePage.do'/>&op=update"
#foreach($col in $!{table.pkColumns})
							+ '&$!{col.name.toLowerCase()}=' + $!{col.name.toLowerCase()}#if(not ${foreach.hasNext});#end
#end
						window.location = url;
					} else {
						${dollar}.messager.alert('错误', "保存失败", 'error');
					}
				}
			});
		}
	}

	//关闭
	function doClose() {
		window.parent.EMP.closewin();
	}


</script>
</body>
</html>
</emp:page>
