#parse("/vm/include.vm")
package ${pkgPrefixFacade}${env.modelPackage.replace('/','.')};

import java.io.Serializable;
import lombok.*;
import lombok.experimental.Accessors;
#foreach($name in $table.columnJavaTypes)
import $name;
#end
import ${pkgPrefix}${env.entityPackage.replace('/','.')}.${table.javaClassName}${env.entityClassSuffix};
import io.polaris.bf.core.context.domain.ExchangeDto;
import io.polaris.bf.core.data.domain.Page;
import io.polaris.bf.core.data.consts.Dml;
import io.swagger.v3.oas.annotations.media.Schema;
import javax.validation.Valid;
import javax.validation.constraints.*;
import java.util.StringJoiner;

/**
 * $!{table.name}
 * $!{table.comment}
 * @author $!{env.author}
 * @since ${current.date}
 */
@Data
public class ${table.javaClassName}${env.rpcListInputClassSuffix} extends ${table.javaClassName}${env.rpcGetInputClassSuffix}{
	@Schema(description = "分页信息")
	private Page page = new Page();
	/** 查询SQL的ORDER BY子句内容(各排序字段) */
	@Schema(hidden = true)
	private transient String sqlOrderBy;

}
