#parse("/vm/include.vm")
package ${pkgPrefixFacade}${env.modelPackage.replace('/','.')};

import java.io.Serializable;
#foreach($name in $table.columnJavaTypes)
import $name;
#end

import io.swagger.v3.oas.annotations.media.Schema;

import lombok.*;
import lombok.experimental.Accessors;

import io.polaris.framework.core.context.domain.ExchangeDto;

import ${pkgPrefix}${env.entityPackage.replace('/','.')}.${table.javaClassName}${env.entityClassSuffix};

/**
 * $!{table.name}
 * $!{table.comment}
 * @author $!{env.author}
## * @since ${current.date}
 */
@Data
public class ${table.javaClassName}${env.rpcGetOutputClassSuffix} extends ExchangeDto {

	private ${table.javaClassName}${env.entityClassSuffix} entity;

}
