# Editor configuration, see http://editorconfig.org
root = true

[*]
#indent_style = space
indent_style = tab
indent_size = 2
tab_width = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{yml,yaml,json}]
indent_style = space
indent_size = 2

[{*.md,*.markdown,*.mkd}]
max_line_length = off
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[{*.css,*.js}]
indent_size = 2
tab_width = 2

[{*.html,*.htm,*.xml,*.tld,*.jsp,*.jspf,*.tag}]
indent_size = 2
tab_width = 2

[{*.vm,*.ftl,*.sql,*.prc,*.fnc,*.tab,*.vw}]
indent_size = 2
tab_width = 2
