#parse("/vm/include.vm")
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${pkgPrefix}${env.mapperPackage}.${table.javaClassName}${env.mapperClassSuffix}">
	<resultMap id="${table.javaVariableName}${env.entityClassSuffix}Map" type="${pkgPrefix}${env.entityPackage}.${table.javaClassName}${env.entityClassSuffix}">
		#foreach($col in ${table.pkColumns})
			<id column="$col.name" property="${col.javaVariableName}" />
		#end
		#foreach($col in $table.normalColumns)
			<result column="$col.name" property="${col.javaVariableName}" />
		#end
	</resultMap>

	<sql id="selectClause">
		SELECT
			${empty}#foreach($col in ${table.pkColumns})${col.name}#if(${foreach.hasNext}),#set($tmp=${foreach.count} % 5)#if($tmp == 0)${lf}${tab}${tab}${tab}#end#end#end,
			${empty}#foreach($col in $table.normalColumns)${col.name}#if(${foreach.hasNext}),#set($tmp=${foreach.count} % 5)#if($tmp == 0)${lf}${tab}${tab}${tab}#end#end#end
		FROM ${table.name}
	</sql>

	<sql id="whereClause">
		<where>
#foreach($col in $table.pkColumns)
#if(${col.jdbcType} == 'VARCHAR' || ${col.jdbcType} == 'CHAR')
			<if test="$col.javaVariableName != null and $col.javaVariableName != ''">
				AND $col.name = #{$col.javaVariableName}
			</if>
#else
			<if test="$col.javaVariableName != null">
				AND $col.name = #{$col.javaVariableName}
			</if>
#end
#end
#foreach($col in $table.normalColumns)
#if(${col.jdbcType} == 'VARCHAR' || ${col.jdbcType} == 'CHAR')
			<if test="$col.javaVariableName != null and $col.javaVariableName != ''">
				AND $col.name = #{$col.javaVariableName}
			</if>
#else
			<if test="$col.javaVariableName != null">
				AND $col.name = #{$col.javaVariableName}
			</if>
#end
#end
		</where>
	</sql>
	<sql id="orderClause">
		<if test="orderByClause != null and orderByClause != ''">
			ORDER BY ${orderByClause}
		</if>
	</sql>

	<select id="getCount" parameterType="${pkgPrefix}entity.${table.javaClassName}${env.entityClassSuffix}" resultType="int">
		SELECT COUNT(*) FROM ${table.name}
		<include refid="whereClause"/>
	</select>

	<select id="getUnique" parameterType="${pkgPrefix}entity.${table.javaClassName}${env.entityClassSuffix}" resultMap="${table.javaVariableName}${env.entityClassSuffix}Map">
		<include refid="selectClause"/>
		<include refid="whereClause"/>
	</select>

	<select id="getAll" parameterType="${pkgPrefix}entity.${table.javaClassName}${env.entityClassSuffix}" resultMap="${table.javaVariableName}${env.entityClassSuffix}Map">
		<include refid="selectClause"/>
		<include refid="whereClause"/>
		<include refid="orderClause"/>
	</select>

	<select id="getById" parameterType="${pkgPrefix}entity.${table.javaClassName}${env.entityClassSuffix}" resultMap="${table.javaVariableName}${env.entityClassSuffix}Map">
		<include refid="selectClause"/>
		<where>
#foreach($col in $table.pkColumns)
				AND $col.name = #{$col.javaVariableName}
#end
		</where>
	</select>

	<insert id="insert" parameterType="${pkgPrefix}entity.${table.javaClassName}${env.entityClassSuffix}"#if(${config['mysql.useGeneratedKeys']} == 'true') useGeneratedKeys="true" keyProperty="${table.pkColumns[0].javaVariableName}"#end>
		INSERT INTO ${table.name}(
			${empty}#foreach($col in ${table.pkColumns})${col.name}#if(${foreach.hasNext}),#set($tmp=${foreach.count} % 5)#if($tmp == 0)${lf}${tab}${tab}${tab}#end#end#end,
			${empty}#foreach($col in $table.normalColumns)${col.name}#if(${foreach.hasNext}),#set($tmp=${foreach.count} % 5)#if($tmp == 0)${lf}${tab}${tab}${tab}#end#end#end
		)
		VALUES(
			${empty}#foreach($col in ${table.pkColumns})#{${col.javaVariableName},jdbcType=${col.jdbcType}}#if(${foreach.hasNext}),#set($tmp=${foreach.count} % 5)#if($tmp == 0)${lf}${tab}${tab}${tab}#end#end#end,
			${empty}#foreach($col in $table.normalColumns)#{${col.javaVariableName},jdbcType=${col.jdbcType}}#if(${foreach.hasNext}),#set($tmp=${foreach.count} % 5)#if($tmp == 0)${lf}${tab}${tab}${tab}#end#end#end
		)
	</insert>

	<update id="update" parameterType="${pkgPrefix}entity.${table.javaClassName}${env.entityClassSuffix}">
		UPDATE ${table.name}
			<trim prefix="SET" suffixOverrides=",">
#foreach($col in $table.pkColumns)
					$col.name = #{$col.javaVariableName},
#end
#foreach($col in $table.normalColumns)
					$col.name = #{$col.javaVariableName},
#end
			</trim>
		WHERE
			<trim prefix="" suffixOverrides="AND">
#foreach($col in $table.pkColumns)
#if(${col.jdbcType} == 'VARCHAR' || ${col.jdbcType} == 'CHAR')
			<if test="$col.javaVariableName != null and $col.javaVariableName != ''">
				$col.name = #{$col.javaVariableName} AND
			</if>
#else
			<if test="$col.javaVariableName != null">
				$col.name = #{$col.javaVariableName} AND
			</if>
#end
#end
			</trim>
	</update>

	<update id="updateSelective" parameterType="${pkgPrefix}entity.${table.javaClassName}${env.entityClassSuffix}">
		UPDATE ${table.name}
			<trim prefix="SET" suffixOverrides=",">
#foreach($col in $table.pkColumns)
#if(${col.jdbcType} == 'VARCHAR' || ${col.jdbcType} == 'CHAR')
				<if test="$col.javaVariableName != null and $col.javaVariableName != ''">
					$col.name = #{$col.javaVariableName},
				</if>
#else
				<if test="$col.javaVariableName != null">
					$col.name = #{$col.javaVariableName},
				</if>
#end
#end
#foreach($col in $table.normalColumns)
#if(${col.jdbcType} == 'VARCHAR' || ${col.jdbcType} == 'CHAR')
				<if test="$col.javaVariableName != null and $col.javaVariableName != ''">
					$col.name = #{$col.javaVariableName},
				</if>
#else
				<if test="$col.javaVariableName != null">
					$col.name = #{$col.javaVariableName},
				</if>
#end
#end
			</trim>
		WHERE
			<trim prefix="" suffixOverrides="AND">
#foreach($col in $table.pkColumns)
#if(${col.jdbcType} == 'VARCHAR' || ${col.jdbcType} == 'CHAR')
			<if test="$col.javaVariableName != null and $col.javaVariableName != ''">
				$col.name = #{$col.javaVariableName} AND
			</if>
#else
			<if test="$col.javaVariableName != null">
				$col.name = #{$col.javaVariableName} AND
			</if>
#end
#end
			</trim>
	</update>

	<delete id="delete" parameterType="${pkgPrefix}entity.${table.javaClassName}${env.entityClassSuffix}">
		DELETE FROM ${table.name}
		WHERE
			<trim prefix="" suffixOverrides="AND">
#foreach($col in $table.pkColumns)
#if(${col.jdbcType} == 'VARCHAR' || ${col.jdbcType} == 'CHAR')
			<if test="$col.javaVariableName != null and $col.javaVariableName != ''">
				$col.name = #{$col.javaVariableName} AND
			</if>
#else
			<if test="$col.javaVariableName != null">
				$col.name = #{$col.javaVariableName} AND
			</if>
#end
#end
			</trim>
	</delete>

</mapper>
