#parse("/vm/include.vm")
package ${pkgPrefixFacade}${env.modelPackage.replace('/','.')};

import java.io.Serializable;
import lombok.*;
import lombok.experimental.Accessors;
#foreach($name in $table.columnJavaTypes)
import $name;
#end
import ${pkgPrefix}${env.entityPackage.replace('/','.')}.${table.javaClassName}Entity;
import com.jcfc.bf.core.context.domain.ExchangeDto;
import com.jcfc.bf.core.data.domain.Page;
import io.swagger.v3.oas.annotations.media.Schema;
import java.util.List;

/**
 * $!{table.name}
 * $!{table.comment}
 * @author $!{env.author}
 * @since ${current.date}
 */
@Data
public class ${table.javaClassName}ListOutput extends ExchangeDto{

	@Schema(description = "分页信息")
	protected Page page;
	@Schema(description = "数据列表")
	protected List<${table.javaClassName}Entity> list;

}
