#parse("/vm/include.vm")
package ${pkgPrefix}${env.mapperPackage};

import java.util.List;

import com.mybatisflex.core.BaseMapper;
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.session.RowBounds;

import ${pkgPrefix}${env.entityPackage}.${table.javaClassName}Entity;;

/**
 * ${table.name}
 * $!{table.comment}
 * @author Qt
 */
@Mapper
public interface ${table.javaClassName}Mapper extends BaseMapper<${table.javaClassName}Entity>{

}

