<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="error" monitorInterval="3600">

	<!--
	不需要手动配置异步, 通过命令行或配置文件(log4j2.component.properties)开启全局异步日志
	-DLog4jContextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector
	-->
	<!--
	pattern 属性说明:

	%c{参数} 或 %logger{参数}           ## 输出日志名称
	%C{参数} 或 %class{参数}             ## 输出类型
	%d{参数}{时区te{参数}{时区}         ## 输出时间
	%F|%file                            ## 输出文件名
	highlight{pattern}{style}           ## 高亮显示
	%l                                  ## 输出错误的完整位置
	%L                                  ## 输出错误行号
	%m 或 %msg 或 %message              ## 输出错误信息
	%M 或 %method                       ## 输出方法名
	%n                                  ## 输出换行符
	%level{参数1}{参数2}{参数3}         ## 输出日志的级别
	%t 或 %thread                       ## 创建logging事件的线程名
	-->

	<Properties>
		<Property name="log_default_level">${sys:log.defaultLevel:-${env:LOG_DEFAULT_LEVEL:-info}}</Property>
		<Property name="log_emp_level">${sys:log.empLevel:-${env:LOG_EMP_LEVEL:-info}}</Property>
		<Property name="log_std_level">${sys:log.stdLevel:-${env:LOG_STD_LEVEL:-info}}</Property>
		<Property name="log_sql_level">${sys:log.sqlLevel:-${env:LOG_SQL_LEVEL:-debug}}</Property>
		<Property name="log_third_level">${sys:log.thirdLevel:-${env:LOG_THIRD_LEVEL:-info}}</Property>

		<Property name="log_include_location">${sys:log.includeLocation:-${env:LOG_INCLUDE_LOCATION:-true}}</Property>
		<Property name="log_app_name">${sys:log.appName:-${env:LOG_APP_NAME:-${env:APP_NAME:-app}}}</Property>
		<Property name="log_base_dir">${sys:log.basedir:-${env:LOG_BASEDIR:-${sys:user.home}/log}}</Property>

		<Property name="log_dir">${log_base_dir}/${log_app_name}</Property>
		<Property name="log_file_prefix">${log_app_name}</Property>
		<property name="log_charset">UTF-8</property>
		<Property name="max_file_size">300MB</Property>
		<Property name="log_pattern_prefix">[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] [%-5p]</Property>
		<Property name="log_pattern_location">%c{3.}.%M(%F:%L)</Property>
		<Property name="log_pattern">${log_pattern_prefix} [${log_pattern_location}] %x %X - %m%n</Property>
		<Property name="log_pattern_simple">${log_pattern_prefix} [%c] %x %X - %m%n</Property>

		<!--<Property name="log_pattern">[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] [%-5p] [%l] %x %X - %m%n</Property>-->
		<!--<Property name="log_pattern">[%d{yyyy-MM-dd HH:mm:ss}] [%t] [%-5p] [%C{12}.%M(%F:%L)] [%X{user}] - %m%n</Property>-->
		<!--<Property name="log_pattern">[%d{yyyy-MM-dd HH:mm:ss}] [%t] [%-5p] [%c] [%X] %m%n</Property>-->
	</Properties>


	<Appenders>
		<!-- 用来控制台输出 -->
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="${log_pattern}"/>
		</Console>

		<RollingRandomAccessFile name="traceLog"
			filePattern="${log_dir}/%d{yyyy-MM-dd}/${log_file_prefix}-all-%d{yyyyMMdd-HH}.%i.log.gz"
			fileName="${log_dir}/${log_file_prefix}-all.log"
			immediateFlush="false">
			<PatternLayout charset="${log_charset}" pattern="${log_pattern}"/>
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true" interval="1"/>
				<SizeBaseDTriggeringPolicy size="${max_file_size}"/>
			</Policies>
			<DefaultRolloverStrategy max="1000"/>
			<Filters>
				<!-- 显示所有信息 -->
				<ThresholdFilter onMismatch="DENY" onMatch="ACCEPT" level="TRACE"/>
			</Filters>
		</RollingRandomAccessFile>

		<RollingRandomAccessFile name="errorLog"
			filePattern="${log_dir}/%d{yyyy-MM-dd}/${log_file_prefix}-error-%d{yyyyMMdd-HH}.%i.log.gz"
			fileName="${log_dir}/${log_file_prefix}-error.log"
			immediateFlush="false">
			<PatternLayout charset="${log_charset}" pattern="${log_pattern}"/>
			<Policies>
				<TimeBasedTriggeringPolicy modulate="true" interval="1"/>
				<SizeBaseDTriggeringPolicy size="${max_file_size}"/>
			</Policies>
			<DefaultRolloverStrategy max="1000"/>
			<Filters>
				<!-- 只显示error信息 -->
				<ThresholdFilter onMismatch="DENY" onMatch="ACCEPT" level="ERROR"/>
			</Filters>
		</RollingRandomAccessFile>

	</Appenders>

	<Loggers>
		<Root level="${log_default_level}" includeLocation="${log_include_location}">
			<AppenderRef ref="traceLog"/>
			<AppenderRef ref="errorLog"/>
			<AppenderRef ref="console"/>
		</Root>

		<Logger name="org" level="${log_third_level}" additivity="true" includeLocation="${log_include_location}">
		</Logger>
		<Logger name="com" level="${log_third_level}" additivity="true" includeLocation="${log_include_location}">
		</Logger>
		<Logger name="org.apache" level="${log_third_level}" additivity="true" includeLocation="${log_include_location}">
		</Logger>

		<Logger name="io.polaris" level="${log_std_level}" additivity="true" includeLocation="${log_include_location}">
		</Logger>
		<Logger name="com.librecoder" level="${log_std_level}" additivity="true" includeLocation="${log_include_location}">
		</Logger>

	</Loggers>

</Configuration>

